  .description {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
    
  .techniques {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
  }

  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: -50px;
    z-index: 10;
  }

  .video__iframes {
    display: flex;
    padding-top: 50px;
  }

  .video__iframe {
    margin-right: 20px;
  }

  .video__iframe:nth-child(2n) {
    margin-right: 0;
  }

  .oakley {    
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding-top: 160px;
  }

  .digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .section-title {
    max-width: 60%;
    margin: 0;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  
  .section-subtitle {
    max-width: 60%;
    margin: 0;
    padding: 20px 0 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    display: flex;
    justify-content: center;
  }
  
  .feynman {
    min-height: 790px;
    padding-top: 80px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../images/feynman.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 867px 637px;
    background-position: bottom left;
  }
  
  .feynman__title {
    max-width: 648px;
    margin: 0;
    text-align: center;
    z-index: 3;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
  }
  
  .feynman__subtitle {
    padding: 70px 0 0;
    max-width: 648px;
    margin: 0;
    text-align: center;
    z-index: 2;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
  }
  
  .feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    z-index: 1;
    color: #2f80ed;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
  }

  .khan {
    padding-top: 105px;
    background-color: #f2f2f2;
  }

  .khan__container {    
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;}

  .khan__author {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
  }

  .khan__title {
    margin: 0;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
  }

  .khan__quote {
    max-width: 790px;
    margin: 50px 0 0;
    line-height: 34px;
    font-size:24px;
    font-weight: normal;
  }

  .khan__quote-author {
    margin: 36px 0 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }

  .khan__quote-author-subline {
    margin: 10px 0 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
  }

  .khan__book-container {
    margin-top: 68px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .khan__book-pic {
    width: 620px;
    height: 608px;
  }

  .khan__link {
    margin-left: 48px;
    color: #2f80ed;
    text-decoration: none;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
  }
  
  .kaufman {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 90px 0;
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;
  }
    
  .kaufman__triangle {
    width: 877px;
    height: 877px;
    background-image: url(../../images/kaufman-triangle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    position: absolute;
    right: -210px;
    top: 0;
  }

  .resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 217px;
  }

  .resources__logo-zone {
    max-width: 1100px;
    margin: 80px 0 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .resources__logo-image {
    margin: 0;
    width: 270px;
    height: 38px;
  }