.header__title {
    max-width: 730px;
    margin: 0;
    padding-left: 64px;
    align-self: center;
    z-index: 3;
    line-height: 96px;
    text-align: left;
    font-size: 102px;
    font-weight: bold;
  }