.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.header__title {
  max-width: 730px;
  margin: 0;
  align-self: center;
  padding-left: 64px;
  z-index: 3;
  line-height: 96px;
  text-align: left;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  line-height: 25px;
  text-align: left;
  margin: 0;
  font-size: 18px;
  font-weight: normal;  
}


.header__link{
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.two-columns_brief {
  max-width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  text-align: left;
}

.two-columns_main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns_paragraph {
padding: 0 0 30px;
margin: 0;
line-height: 34px;
font-size: 24px;
text-align: left;
}

.two-columns_paragraph:last-child {  padding-bottom: 0;}

.two-columns_span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
}

.section-title {
  width: 60%;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  padding: 20px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

.table {
  width: 1100px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table_cell {
  list-style-type: none;
  width: 250px;
  padding: 60px 0 0;
}

.table_heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;  
}

.table_text {
  padding: 20px 0 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;  
}

.feynman {
  min-height: 790px;
  padding-top: 100px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 867px 637px;
  background-position: bottom left;
}

.feynman__title {
  max-width: 648px;
  margin: 0;
  text-align: center;
  z-index: 3;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold; 
}

.feynman__subtitle {
  padding: 70px 0 0;
  width: 648px;
  margin: 0;
  text-align: center;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal; 
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal; 
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}


/* и элемента с модификатором вида ключ-значение */
.table_cell_theme_dark {
  list-style-type: none;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;  
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal; 
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 16px;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;  
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal; 
  color: #fff;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 15px;
  padding-right: 10px;
}